USE [master]
GO
/****** Object:  Database [DBMovie]    Script Date: 2/8/2020 7:37:04 PM ******/
CREATE DATABASE [DBMovie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBMovie', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVERR\MSSQL\DATA\DBMovie.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBMovie_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVERR\MSSQL\DATA\DBMovie_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBMovie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBMovie]
GO
/****** Object:  Table [dbo].[ai_actors]    Script Date: 2/8/2020 7:37:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ai_actors](
	[actorId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[birth_date] [date] NULL,
	[sexo] [int] NULL,
	[hidden] [int] NULL CONSTRAINT [DF_ai_actors_hidden]  DEFAULT ((0)),
	[photo] [text] NULL,
 CONSTRAINT [PK_ai_actors] PRIMARY KEY CLUSTERED 
(
	[actorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ai_generos]    Script Date: 2/8/2020 7:37:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ai_generos](
	[generoId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_ai_generos] PRIMARY KEY CLUSTERED 
(
	[generoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ai_movies]    Script Date: 2/8/2020 7:37:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ai_movies](
	[movieId] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
	[release_date] [date] NULL,
	[generoId] [int] NULL CONSTRAINT [DF_ai_movies_generoId]  DEFAULT ((0)),
	[photo] [text] NULL,
	[hidden] [int] NULL CONSTRAINT [DF_ai_movies_hidden]  DEFAULT ((0)),
 CONSTRAINT [PK_ai_movies] PRIMARY KEY CLUSTERED 
(
	[movieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ai_movies_items]    Script Date: 2/8/2020 7:37:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_movies_items](
	[itemId] [int] IDENTITY(1,1) NOT NULL,
	[movieId] [int] NULL CONSTRAINT [DF_ai_movies_items_MovieId]  DEFAULT ((0)),
	[actorId] [int] NULL CONSTRAINT [DF_ai_movies_items_ActorId]  DEFAULT ((0)),
	[hidden] [int] NULL CONSTRAINT [DF_ai_movies_items_hidden]  DEFAULT ((0)),
 CONSTRAINT [PK_ai_movies_items] PRIMARY KEY CLUSTERED 
(
	[itemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
